.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .formWrapper {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px;
    width: 100%;
  }
  
  .title {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .button {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    border: none;
    background-color: #898989;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #222;
  }
  
  .signupText {
    text-align: center;
    margin-top: 1rem;
    color: #555;
  }
  
  .link {
    color: #404040;
  }
  
  .link:hover {
    text-decoration: underline;
  }