/* 基本的なコンテナのスタイリング */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F7F7F7;
  }
  
  /* フォーム全体のスタイリング */
  .form {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* max-w-smを基準にした推定値 */
    border: 2px solid #CFCFCF;
  }
  
  /* 各セクションのタイトル */
  .title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px; /* 2xl */
    margin-bottom: 24px; /* mb-6 */
    text-align: center;
    color: #121212;
  }
  
  /* 各フォーム要素のラベル */
  .label {
    display: block;
    color: #4A4A4A;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px; /* mb-2 */
  }
  
  /* 入力フィールドのスタイリング */
  .input {
    background-color: #F8F9FA; /* bg-gray-50 */
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    padding: 8px 16px; /* py-2 px-4 */
    width: 100%;
  }
  
  /* ログインボタンのスタイリング */
  .button {
    width: 100%;
    background-color: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    padding: 12px 16px; /* py-3 px-4 */
  }
  
  .button:hover {
    background-color: #363636;
  }
  