.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.searchSection {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addButton {
  padding: 10px 20px;
  background-color: #0a0a0a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.promptsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 300pxの最小幅で、利用可能なスペースに応じてカラム数を調整 */
  gap: 20px; /* カード間の間隔 */
  margin-bottom: 20px; /* 下の要素との間隔 */
}

.promptCard {
  background-color: #ffffff; /* 白背景 */
  border-radius: 8px; /* 角の丸み */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ソフトな影 */
  padding: 20px; /* 内側の余白 */
  margin-bottom: 20px; /* 下の要素との間隔 */
  transition: transform 0.3s; /* ホバー時のアニメーション効果 */
}
.promptCard:hover {
  transform: translateY(-5px); /* ホバー時に少し浮かせる */
}
.productTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productPreview {
  color: #666;
  margin-bottom: 10px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #eee;
  color: #555;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.editButton {
  padding: 10px 20px;
  background-color: #010302;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modalText {
  color: #333;
  margin-bottom: 20px;
}

.modalInput {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.createButton,
.updateButton {
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton {
  padding: 10px 20px;
  background-color: #666;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.closeButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
